<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093550625783-jd08gg0en76li9sv5h9f2bifje0lqcr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093550625783-jd08gg0en76li9sv5h9f2bifje0lqcr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1093550625783-m5v5408gagir2ller25a65uokrj4q048.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFFKhQpNk1wyNfEW1zhgZLFVOmqqqqSnc</string>
	<key>GCM_SENDER_ID</key>
	<string>1093550625783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fahabo</string>
	<key>PROJECT_ID</key>
	<string>fahabo-487a2</string>
	<key>STORAGE_BUCKET</key>
	<string>fahabo-487a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093550625783:ios:2bf4462cf97551397c54f2</string>
</dict>
</plist>